<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background: #FFFFFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7b7b7b;"></a>
			<h1 class="mui-title">消息详情</h1>
		</header>
        <div class="mui-content mui-scroll-wrapper"> 
        	<div class="mui-scroll">
	           	<div style="background: white;">
	           		<div style="margin: 1rem;">
	           			<div style="padding: 5px;">
			           		<span style="font-weight: 600;">华为服务新政策</span><br />
			           		<span>&nbsp;&nbsp;&nbsp;&nbsp;华为服务新政策内容华为服务新政策内容华为服务新政策内容华为服务新政策内容华为服务新政策内容华为服务新政策内容华为服务新政策内容</span>
	           			</div>
	           		</div>
	           	</div>
	        </div>
        </div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: false, //是否显示滚动条
				deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true, //是否启用回弹 
			});
        	document.getElementsByClassName('mui-scroll')[0].style.minHeight = screen.height + "px";
			mui.plusReady(function(){
				var Details = plus.webview.currentWebview();
				var name = Details.name;
				console.log(name)
			})
		</script>
	</body>

</html>