<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.p {
				max-width: 100%;
				min-height: 1em;
				line-height: 1.75em;
				box-sizing: border-box !important;
				word-wrap: break-word !important;
			}
			td{
				border-top-style: none;
				border-right-color: windowtext;
				border-bottom-color: windowtext;
				border-left-color: windowtext;
				border: 1px solid black;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background: #FFFFFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7b7b7b;"></a>
			<h1 class="mui-title">消息详情</h1>
		</header>
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div style="margin: 1rem;">
					<div style="height: 50px;font-weight: 600;border-bottom: 1px solid #B7B7B7;">华为认证HCDP-Cloud Service V1.0正式发布</div>
					<div style="margin-top: 10px;">
						2017-08-28 华为企业服务
					</div>
					<div style="border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: rgb(236, 68, 68);margin-top: 10px;">
						<span style="padding-top: 3px;padding-right: 10px;padding-left: 10px;max-width: 100%;box-sizing: border-box;display: inline-block;color: rgb(254, 254, 254);border-top-left-radius: 3px; border-top-right-radius: 3px;height: 28px; word-wrap: break-word !important;background-color: rgb(236, 68, 68);">发布概述</span>
						<div style="margin-left: -2px; border-top-width: 28px;border-top-style: solid;border-color: transparent rgb(206, 206, 206);border-bottom-width: 0px;border-bottom-style: solid;border-left-width: 15px;border-left-style: solid;display:inline-block;vertical-align: top;word-wrap:break-word !important;">
						</div>
					</div>
					<p style="margin-top: 10px; max-width: 100%; min-height: 1em; text-align: justify; line-height: 1.75em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;">华为认证基于“云-管-端”协同的新ICT基础架构，针对基础架构技术人员、开发者、行业用户，分别提供ICT架构认证、ICT开发者认证和行业ICT认证三大类认证的认证体系。根据ICT从业者的学习和进阶需求，华为认证分为工程师级别、资深工程师级别和专家级别三个认证等级。</span><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></p>
					<p style="max-width: 100%; min-height: 1em; text-align: justify; line-height: 1.75em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;">华为认证覆盖ICT全领域，符合ICT融合的技术趋势，致力于提供领先的人才培养体系和认证标准，培养数字化时代新型ICT人才，构建良性ICT人才生态。</span></p>
					<p style="max-width: 100%; min-height: 1em; text-align: justify; line-height: 1.75em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;">随着物联网、大数据、人工智能等新兴技术与云平台的深度融合，云服务正在成为新一代公共基础设施和创新引擎。与此同时，DevOps模式推崇的敏捷、快速迭代开发，云上应用的自动部署和弹性发布正方兴未艾，逐步走向主流，可是DevOps的人才供需缺口依然很大，为抓住这一机遇，加速构建集开发运维融合能力的人才生态，特发布HCDP-Cloud Service（Huawei Certified Development Professional-Cloud Service）认证，培养掌握DevOps最新实践，能利用华为软件开发云从事开发工作的DevOps融合型资深工程师。</span></p>
					<div style="line-height: 27px; border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: rgb(236, 68, 68);">
						<span style="padding-right: 10px;padding-left: 10px;max-width: 100%;box-sizing: border-box;display: inline-block;color: rgb(254, 254, 254);border-top-left-radius: 3px; border-top-right-radius: 3px;height: 28px; word-wrap: break-word !important;background-color: rgb(236, 68, 68);">产品介绍</span>
						<div style="margin-left: -2px; border-top-width: 28px;border-top-style: solid;border-color: transparent rgb(206, 206, 206);border-bottom-width: 0px;border-bottom-style: solid;border-left-width: 15px;border-left-style: solid;display:inline-block;vertical-align: top;word-wrap:break-word !important;">
						</div>
					</div>
					<p class="p"><span style="font-size: 14px; max-width: 100%; text-align: justify; box-sizing: border-box !important; word-wrap: break-word !important;">通过华为认证HCDP-Cloud Service V1.0的系统学习指导，学员将掌握DevOps最前沿知识、理念及流行工具，并能熟练使用华为软件开发云的各个模块。<br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p>
					<p class="p"><span style="font-size: 14px;">华为认证HCDP-Cloud Service V1.0培训产品清单如下：</span></p>
					<p class="p"><span style="font-size: 14px;">1.《HCDP-Cloud Service V1.0考试大纲》</span></p>
					<p class="p"><span style="font-size: 14px;">2.《HCDP-Cloud Service V1.0培训大纲》</span></p>
					<p class="p"><span style="font-size: 14px;">3.《HCDP-Cloud Service V1.0培训教材》</span></p>
					<p class="p"><span style="font-size: 14px;">4.《HCDP-Cloud Service V1.0实验手册》</span></p>
					<p class="p"><span style="font-size: 14px;">5.《HCDP-Cloud Service V1.0课程表》</span></p>
					<div style="line-height: 27px; border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: rgb(236, 68, 68);">
						<span style="padding-right: 10px;padding-left: 10px;max-width: 100%;box-sizing: border-box;display: inline-block;color: rgb(254, 254, 254);border-top-left-radius: 3px; border-top-right-radius: 3px;height: 28px; word-wrap: break-word !important;background-color: rgb(236, 68, 68);">培训说明</span>
						<div style="margin-left: -2px; border-top-width: 28px;border-top-style: solid;border-color: transparent rgb(206, 206, 206);border-bottom-width: 0px;border-bottom-style: solid;border-left-width: 15px;border-left-style: solid;display:inline-block;vertical-align: top;word-wrap:break-word !important;">
						</div>
					</div>
					<p class="p"><span style="font-size: 14px;"><strong>1) 培训教材</strong><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p>
					<p class="p"><span style="font-size: 14px;">HCDP-Cloud Service V1.0包含:</span></p>
					<p class="p"><span style="font-size: 14px;">1. 软件研发模式</span></p>
					<p class="p"><span style="font-size: 14px;">2. 敏捷项目管理</span></p>
					<p class="p"><span style="font-size: 14px;">3. 配置管理</span></p>
					<p class="p"><span style="font-size: 14px;">4. 代码检查</span></p>
					<p class="p"><span style="font-size: 14px;">5. 编译构建</span></p>
					<p class="p"><span style="font-size: 14px;">6. 测试管理</span></p>
					<p class="p"><span style="font-size: 14px;">7. 部署管理</span></p>
					<p class="p"><span style="font-size: 14px;">8. 发布管理</span></p>
					<p class="p"><span style="font-size: 14px;">9. 开发流水线</span></p>
					<p class="p"><strong><span style="font-size: 14px;">2) 实验手册</span></strong></p>
					<p class="p"><span style="font-size: 14px;">HCDP-Cloud Service V1.0包含：</span></p>
					<p class="p"><span style="font-size: 14px;">1. 利用华为软件开发云实现端到端云上应用的设计</span></p>
					<p class="p"><span style="font-size: 14px;">2. 利用华为软件开发云实现端到端云上应用的开发</span></p>
					<p class="p"><span style="font-size: 14px;">3. 利用华为软件开发云实现端到端云上应用的测试</span></p>
					<p class="p"><span style="font-size: 14px;">4. 利用华为软件开发云实现端到端云上应用的部署</span></p>
					<p class="p"><span style="font-size: 14px;">5. 利用华为软件开发云实现端到端云上应用的发布</span></p>
					<p class="p"><strong><span style="font-size: 14px;">3) 培训时长</span></strong></p>
					<p class="p"><span style="font-size: 14px;">HCDP-Cloud Service V1.0培训时长为5天。</span></p>
					<p class="p"><strong><span style="font-size: 14px;">4) 实验环境</span></strong></p>
					<p class="p"><span style="font-size: 14px;">学员通过在华为软件开发云（devcloud.hwclouds.com）注册账号直接做实验，不需要搭建专门的实验环境。</span></p>
					<p class="p"><strong><span style="font-size: 14px;">4) 实验环境</span></strong></p>
					<table cellspacing="0" cellpadding="0" width="100%">
						<tbody style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
							<tr class="" style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
								<td width="234" style="padding: 0px 7px; word-break: break-all; border-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
           								<span style="font-size: 14px; max-width: 100%; line-height: 22.5px; box-sizing: border-box !important; word-wrap: break-word !important;">HCDP-Cloud Service &nbsp; V1.0</span></strong>
										</span>
									</p>
								</td>
								<td width="319" style="padding: 0px 7px; word-break: break-all; border-left-style: none; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;">
										<span style="max-width: 100%; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">
	           								<strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
		           								<span style="font-size: 14px; max-width: 100%; line-height: 22.5px; box-sizing: border-box !important; word-wrap: break-word !important;">说明</span>
										</strong>
										</span>
									</p>
								</td>
							</tr>
							<tr style="max-width: 100%; height: 40px; box-sizing: border-box !important; word-wrap: break-word !important;">
								<td width="234" height="40" style="padding: 0px 7px; word-break: break-all; border-top-style: none; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;">
										<span style="max-width: 100%; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">HALP讲师赋能</span>
									</p>
								</td>
								<td width="319" height="40" style="padding: 0px 7px; word-break: break-all; border-top-style: none; border-left-style: none; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="max-width: 100%; min-height: 1em; text-align: justify; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;">
										<span style="max-width: 100%; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">可通过eLearning自学完成</span>
									</p>
								</td>
							</tr>
							<tr style="max-width: 100%; height: 49px; box-sizing: border-box !important; word-wrap: break-word !important;">
								<td width="234" height="49" style="padding: 0px 7px; word-break: break-all; border-top-style: none; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;">
										<span style="max-width: 100%; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">HALP讲师认证</span>
									</p>
								</td>
								<td width="319" height="49" style="padding: 0px 7px; word-break: break-all; border-top-style: none; border-left-style: none; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="max-width: 100%; min-height: 1em; text-align: justify; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;">
										<span style="max-width: 100%; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">需通过笔试、实验和试讲后申请讲师认证证书</span>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
					<div style="margin-top: 10px; line-height: 27px; border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: rgb(236, 68, 68);">
						<span style="padding-right: 10px;padding-left: 10px;max-width: 100%;box-sizing: border-box;display: inline-block;color: rgb(254, 254, 254);border-top-left-radius: 3px; border-top-right-radius: 3px;height: 28px; word-wrap: break-word !important;background-color: rgb(236, 68, 68);">考试说明</span>
						<div style="margin-left: -2px; border-top-width: 28px;border-top-style: solid;border-color: transparent rgb(206, 206, 206);border-bottom-width: 0px;border-bottom-style: solid;border-left-width: 15px;border-left-style: solid;display:inline-block;vertical-align: top;word-wrap:break-word !important;">
						</div>
					</div>
					<p style="max-width: 100%; min-height: 1em; text-align: justify; line-height: 1.75em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;">HCDP-Cloud Service V1.0试题题型分单选、多选和判断三种类型，于2017年8月24日在Prometric平台发布。 Prometric考试预约网址: <em><strong>http://www.prometric.com.cn</strong></em></span></p>
					<table cellspacing="0" cellpadding="0" width="100%">
						<tbody style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
							<tr class="" style="max-width: 100%; height: 36px; box-sizing: border-box !important; word-wrap: break-word !important;">
								<td width="59" height="36" style="padding: 0px; word-break: break-all; border-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">认证项目</strong></span></p>
								</td>
								<td width="37" height="36" style="padding: 0px; word-break: break-all; border-left-style: none; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">考试代码</strong></span></p>
								</td>
								<td width="114" height="36" style="padding: 0px; word-break: break-all; border-left-style: none; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">考试名称</strong></span></p>
								</td>
								<td width="52" height="36" style="padding: 0px; word-break: break-all; border-left-style: none; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">考试地点</strong></span></p>
								</td>
								<td width="95" height="36" style="padding: 0px; word-break: break-all; border-left-style: none; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">考试时长</strong></span></p>
								</td>
								<td width="76" height="36" style="padding: 0px; word-break: break-all; border-left-style: none; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; background: rgb(217, 217, 217);">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">通过分数/总分</strong></span></p>
								</td>
							</tr>
							<tr style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
								<td width="41" style="padding: 0px; word-break: break-all; border-top-style: none; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="margin-top: auto; margin-bottom: auto; max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 22.5px; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">HCDP-Cloud Service V1.0</span></p>
								</td>
								<td width="42" style="padding: 0px; word-break: break-all; border-top-style: none; border-left-style: none; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="margin-top: auto; margin-bottom: auto; max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 22.5px; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">H53-821</span></p>
								</td>
								<td width="108" style="padding: 0px; word-break: break-all; border-top-style: none; border-left-style: none; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 22.5px; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">HCDP-Cloud &nbsp; Service DevOps<br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp; &nbsp;(Huawei Certified Development&nbsp; &nbsp; Professional –Cloud Service DevOps)</span></p>
								</td>
								<td width="41" style="padding: 0px; word-break: break-all; border-top-style: none; border-left-style: none; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="margin-top: auto; margin-bottom: auto; max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 22.5px; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">Prometric</span></p>
								</td>
								<td width="94" style="padding: 0px; word-break: break-all; border-top-style: none; border-left-style: none; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="margin-top: auto; margin-bottom: auto; max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 22.5px; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">90 min</span></p>
								</td>
								<td width="76" style="padding: 0px; word-break: break-all; border-top-style: none; border-left-style: none; border-right-color: windowtext; border-bottom-color: windowtext; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">
									<p style="margin-top: auto; margin-bottom: auto; max-width: 100%; min-height: 1em; text-align: center; line-height: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 22.5px; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">600/1000</span></p>
								</td>
							</tr>
						</tbody>
					</table>
					<div style="margin-top: 10px; line-height: 27px; border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: rgb(236, 68, 68);">
						<span style="padding-right: 10px;padding-left: 10px;max-width: 100%;box-sizing: border-box;display: inline-block;color: rgb(254, 254, 254);border-top-left-radius: 3px; border-top-right-radius: 3px;height: 28px; word-wrap: break-word !important;background-color: rgb(236, 68, 68);">发布区域范围和目标客户</span>
						<div style="margin-left: -2px; border-top-width: 28px;border-top-style: solid;border-color: transparent rgb(206, 206, 206);border-bottom-width: 0px;border-bottom-style: solid;border-left-width: 15px;border-left-style: solid;display:inline-block;vertical-align: top;word-wrap:break-word !important;">
						</div>
					</div>
					<p style="max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important; text-align: justify;"><span style="font-size: 14px;">HCDP-Cloud Service V1.0将于2017年8月26日正式向中国区发布。</span></p>
					<p style="max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important; text-align: justify;"><span style="font-size: 14px;">主要面向使用华为云服务产品和技术的用户、华为内部工程师、华为渠道工程师、高校学生以及ICT从业人员。</span></p>
					<div style="line-height: 27px; border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: rgb(236, 68, 68);">
						<span style="padding-right: 10px;padding-left: 10px;max-width: 100%;box-sizing: border-box;display: inline-block;color: rgb(254, 254, 254);border-top-left-radius: 3px; border-top-right-radius: 3px;height: 28px; word-wrap: break-word !important;background-color: rgb(236, 68, 68);">产品信息及文档获取</span>
						<div style="margin-left: -2px; border-top-width: 28px;border-top-style: solid;border-color: transparent rgb(206, 206, 206);border-bottom-width: 0px;border-bottom-style: solid;border-left-width: 15px;border-left-style: solid;display:inline-block;vertical-align: top;word-wrap:break-word !important;">
						</div>
					</div>
					<p style="font-family: 微软雅黑; white-space: normal; max-width: 100%; min-height: 1em; text-align: justify; line-height: 1.75em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="font-size: 14px;">华为认证HCDP-Cloud Service V1.0培训产品的电子文档获取方式如下。</span></p>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: false, //是否显示滚动条
				deceleration: 0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true, //是否启用回弹 
			});
			document.getElementsByClassName('mui-scroll')[0].style.minHeight = screen.height + "px";
		</script>
	</body>

</html>