<!doctype html>
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title></title> 
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /> 
        <link href="../../css/mui.min.css" rel="stylesheet" /> 
        <style type="text/css">
        	.mui-table-view-cell:after{
        		background: white !important;
        	}
        	.mui-table-view li{
        		margin-top: 20px;
        	}
        </style>
    </head> 
    <body> 
    	<header class="mui-bar mui-bar-nav" id="header" style="background:#FFFFFF;">
			<h1 class="mui-title" id="title">消息列表</h1>
		</header>
        <div class="mui-content mui-scroll-wrapper" id="content"> 
        	<div class="mui-scroll">
	           	<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right Myatention">
							<span style="font-weight: 600;">华为服务新政策</span><br /><br />
							<span>华为服务新政策内容</span>
						</a>
					</li>
				</ul>
			</div>
        </div> 
        <script src="../../js/mui.min.js"></script> 
        <script type="text/javascript">
        	mui.init();
        	mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: false, //是否显示滚动条
				deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true, //是否启用回弹 
			});
        	document.getElementsByClassName('mui-scroll')[0].style.height = screen.height + "px";
        	mui('.mui-table-view').on('tap','.mui-table-view-cell',function(){
        		mui.openWindow({
        			url:"Details.html",
        			id:"Details.html",
				    extras:{
				        name:'litao',
				    }
        		})
        	})
        	mui.plusReady(function(){
//      		plus.navigator.setStatusBarBackground('#FFFFFF');//状态栏背景白色
				plus.navigator.setStatusBarStyle("light");//状态栏前景色为黑色
//      		document.getElementById('header').style.height = plus.navigator.getStatusbarHeight() + 44 + "px";
//      		document.getElementById('title').style.marginTop = plus.navigator.getStatusbarHeight() + "px";
//      		document.getElementById('content').style.marginTop = plus.navigator.getStatusbarHeight() + "px";
        	})
        	mui.plusReady(function(){
				var wv=plus.webview.currentWebview();
				// 关闭侧滑返回功能
				wv.setStyle({'popGesture':'none'});
			});
        </script>
    </body> 
</html> 