<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" style="background: #FFFFFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7b7b7b;"></a>
			<h1 class="mui-title">消息详情</h1>
		</header>
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div style="margin: 1rem;">
					<div style="height: 50px;font-weight: 600;border-bottom: 1px solid #B7B7B7;">揭榜“生态伙伴精英赛” ｜ 服务精英初赛晋级名单公示，玩转攻略勇闯复赛！</div>
					<div style="margin-top: 10px;">
						2017-08-07 华为企业业务中国合作伙伴
					</div>
					<img src="http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZNRrrXtLyojQvtUJeqeOhnKJ9gKM1Za2D0l2a1mbJa2dLat55vVibrcFlpNWHCiaiaBD4Ec7IpIVlsZw/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" alt="" style="width: 100%;" />
					<section class="" style=" margin-top: 10px; margin-bottom: 10px;  box-sizing: border-box; ">
						<section class="" style="height: 1.3em; background-color: rgb(30, 155, 232); box-sizing: border-box;">
							<section style="width: 49%; padding-top: 0.25em; display: inline-block; vertical-align: top; box-sizing: border-box;">
								<section style="width: 0.8em; height: 0.8em; margin-right: 25%; margin-left: 15%; display: inline-block; vertical-align: top; border-radius: 100%; background-color: rgb(255, 255, 255); box-sizing: border-box;"></section>
								<section style="width: 0.8em; height: 0.8em; display: inline-block; vertical-align: top; border-radius: 100%; background-color: rgb(255, 255, 255); box-sizing: border-box;"></section>
							</section>
							<section style="width: 49%; padding-top: 0.25em; text-align: right; display: inline-block; vertical-align: top; box-sizing: border-box;">
								<section style="width: 0.8em; height: 0.8em; display: inline-block; vertical-align: top; border-radius: 100%; background-color: rgb(255, 255, 255); box-sizing: border-box;"></section>
								<section style="width: 0.8em; height: 0.8em; margin-right: 15%; margin-left: 25%; display: inline-block; vertical-align: top; border-radius: 100%; background-color: rgb(255, 255, 255); box-sizing: border-box;"></section>
							</section>
						</section>
						<section class="" style="border-right: 1px solid rgb(30, 155, 232); border-bottom: 1px solid rgb(30, 155, 232); border-left: 1px solid rgb(30, 155, 232); border-top: none rgb(30, 155, 232); padding: 10px; box-sizing: border-box;">
							<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
								<section class="" style="   box-sizing: border-box; ">
									<section class="" style="line-height: 1.75; box-sizing: border-box;">
										<p style="text-indent: 2em; box-sizing: border-box;"><strong style="box-sizing: border-box;"><span style="color: rgb(30, 155, 232); box-sizing: border-box;">华为中国合作伙伴大学的年度盛事——“ΣCO-Discovery” 华为生态伙伴精英赛2017伙伴赛初赛于近期隆重举办</span></strong>，4500余名生态伙伴精英在全国32个赛场同步开考。</p>
									</section>
								</section>
							</section>
						</section>
					</section>
					<section class="" style="text-align: center; box-sizing: border-box;">
						<p style="transform: rotate(0.1deg); box-sizing: border-box;"><img data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRF95gme929PplMMFfylTP7gwm6ViceP15GGQpUiauSqYSlMAht55yveVA/0?wx_fmt=png" data-ratio="1.01" data-w="100" width="2.2em" data-type="png" style="margin-bottom: -1.4em; vertical-align: middle; box-sizing: border-box; width: 2.2em !important; height: auto !important; visibility: visible !important;" _width="2.2em" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRF95gme929PplMMFfylTP7gwm6ViceP15GGQpUiauSqYSlMAht55yveVA/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" class="" data-fail="0"></p>
						<section class="" style="padding: 38.8889px; display: inline-block; background-color: rgb(239, 239, 239); box-shadow: rgb(204, 204, 204) 0.3em 0.3em 0.3em; box-sizing: border-box;width: 100%;">
							<section class="" style="box-sizing: border-box;">
								<section class="" powered-by="xiumi.us" style="box-sizing: border-box;">
									<section class="" style="box-sizing: border-box;">
										<section class="" style="text-align: left; box-sizing: border-box;">
											<p style="text-indent: 2em; box-sizing: border-box;">经过初赛<span style="font-family: 微软雅黑, sans-serif;">激励的角逐，估计小伙伴们的内心一直在期待晋级名单的公布，今天小编就为大家揭榜服务赛项进入复赛的名单，快点击<strong><span style="font-family: 微软雅黑, sans-serif; color: rgb(30, 155, 232);">“阅读原文”</span></strong>看看你是否榜上有名吧！</span>
											</p>
										</section>
									</section>
								</section>
							</section>
						</section>
					</section>
					<img src="https://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRg75llTmvBDnrsZMiajeVvo64IbtJ5EKlB27SS2z4bHaTJgtEKNCnxEQ/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1&retryload=1" style="width: 100%;" />
					<p style="text-align: center; box-sizing: border-box;"><span style="font-size: 14px; box-sizing: border-box;">服务初赛现场</span><br style="box-sizing: border-box;"></p>
					<p style="text-indent: 2em; box-sizing: border-box;"><strong><span style="text-indent: 32px;">如果你榜上有名，那我们先道一声“恭喜”啦。</span><span>不过高兴的同时，请一定仔细阅读服务的复赛规则，这可是复赛获得好成绩的第一步~~</span></strong></p>
					<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
						<section class="" style=" margin-top: 10px; margin-bottom: 10px; text-align: center;  box-sizing: border-box; ">
							<section class="" style="display: inline-block; vertical-align: top; width: 100%; box-sizing: border-box;">
								<section style="width: 2.5em; height: 2.5em; margin-bottom: -2.5em; border-left: 2px dotted rgb(193, 193, 193); border-top: 2px dotted rgb(193, 193, 193); box-sizing: border-box;"></section>
								<section style="padding: 8px; box-sizing: border-box;">
									<section class="" style="width: 100%; background-color: rgb(241, 233, 222); background-image: url(&quot;http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRaM4nWgXzPic38YJhx9b5hibnRiacs63wGhTs023mKBEQalQ8a9n2Zbmhg/0?wx_fmt=jpeg&quot;); background-position: 13.3333% -22.2222%; background-repeat: repeat; background-size: 89.7727%; background-attachment: scroll; box-sizing: border-box;">
										<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
											<section class="" style="   box-sizing: border-box; ">
												<section class="" style="text-align: left; box-sizing: border-box;">
													<p style="clear: none; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-top: 10px; margin-bottom: 10px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; ">
												<section class="" style="display: inline-block; vertical-align: top; box-sizing: border-box;">
													<section style="width: 0px; margin-bottom: -10px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-top: 5px solid rgba(255, 184, 196, 0.66); border-left: 5px solid rgba(255, 184, 196, 0.66); border-right: 5px solid transparent !important; border-bottom: 5px solid transparent !important; box-sizing: border-box;"></section>
													<section class="" style="background-color: rgba(153, 255, 255, 0.4); padding: 3px 10px; line-height: 1.75; color: rgb(30, 155, 232); box-sizing: border-box;">
														<p style="clear: none; box-sizing: border-box;"><strong style="box-sizing: border-box;">复赛内容&amp;形式：远程智真宣讲+答辩</strong></p>
													</section>
													<section style="width: 0px; margin-top: -10px; margin-left: auto; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-right: 5px solid rgba(255, 184, 196, 0.66); border-bottom: 5px solid rgba(255, 184, 196, 0.66); border-top: 5px solid transparent !important; border-left: 5px solid transparent !important; box-sizing: border-box;"></section>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-right: 0%; margin-bottom: 10px; margin-left: 0%;  box-sizing: border-box; ">
												<section class="" style="display: inline-block; width: 90%; border-width: 1px; border-style: solid; border-color: transparent; background-color: rgb(255, 255, 255); box-shadow: rgb(170, 170, 170) 0px 0px 10px; box-sizing: border-box;">
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style="   box-sizing: border-box; ">
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="90%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 80%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: justify; color: rgb(105, 105, 105); font-size: 2px; line-height: 1.8; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="clear: none; white-space: normal; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
																		</section>
																	</section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="100%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
														</section>
													</section>
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style=" margin-top: -20px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
															<section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 10px; box-sizing: border-box;">
																<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: left; color: rgb(105, 105, 105); font-size: 15px; line-height: 1.75; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="text-indent: 2em; clear: none; box-sizing: border-box;">参赛选手需提前按模板准备产品案例宣讲PPT。现场参加宣讲及答辩，时间20分钟/选手（宣讲10分钟+答辩10分钟）</p>
																		</section>
																	</section>
																</section>
																<img style="vertical-align: middle; box-sizing: border-box; width: 100%; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRgvzbbHXchCuQviclIkZerKnfxQgtYkfUqEapqFhibuRYaaqmlibuttutg/0?wx_fmt=png" data-ratio="0.9361702" data-w="470" data-type="png" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRgvzbbHXchCuQviclIkZerKnfxQgtYkfUqEapqFhibuRYaaqmlibuttutg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0">
															</section>
														</section>
													</section>
												</section>
											</section>
										</section>
										<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
											<section class="" style="   box-sizing: border-box; ">
												<section class="" style="text-align: left; box-sizing: border-box;">
													<p style="clear: none; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-top: 10px; margin-bottom: 10px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; ">
												<section class="" style="display: inline-block; vertical-align: top; box-sizing: border-box;">
													<section style="width: 0px; margin-bottom: -10px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-top: 5px solid rgba(255, 184, 196, 0.66); border-left: 5px solid rgba(255, 184, 196, 0.66); border-right: 5px solid transparent !important; border-bottom: 5px solid transparent !important; box-sizing: border-box;"></section>
													<section class="" style="background-color: rgba(153, 255, 255, 0.4); padding: 3px 10px; line-height: 1.75; color: rgb(30, 155, 232); box-sizing: border-box;">
														<p style="clear: none; box-sizing: border-box;"><strong style="box-sizing: border-box;">复赛时间安排</strong></p>
													</section>
													<section style="width: 0px; margin-top: -10px; margin-left: auto; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-right: 5px solid rgba(255, 184, 196, 0.66); border-bottom: 5px solid rgba(255, 184, 196, 0.66); border-top: 5px solid transparent !important; border-left: 5px solid transparent !important; box-sizing: border-box;"></section>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-right: 0%; margin-bottom: 10px; margin-left: 0%;  box-sizing: border-box; ">
												<section class="" style="display: inline-block; width: 90%; border-width: 1px; border-style: solid; border-color: transparent; background-color: rgb(255, 255, 255); box-shadow: rgb(170, 170, 170) 0px 0px 10px; box-sizing: border-box;">
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style="   box-sizing: border-box; ">
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="100%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 80%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: justify; color: rgb(105, 105, 105); font-size: 2px; line-height: 1.8; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="clear: none; white-space: normal; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
																		</section>
																	</section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="100%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
														</section>
													</section>
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style=" margin-top: -20px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
															<section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 10px; box-sizing: border-box;">
																<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: left; color: rgb(105, 105, 105); font-size: 15px; line-height: 1.75; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="text-indent: 2em; clear: none; box-sizing: border-box;">8月10日—8月31日（具体时间以华为邮件和短信通知为准）。</p>
																		</section>
																	</section>
																</section>
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" margin-top: 10px; margin-bottom: 10px;  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100%; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRv1oWYKLc6Z1Xjwic8vFQsa3kMNRBC8PCiavFQkXQzG8obnibX2Qey0oQg/0?wx_fmt=jpeg" data-ratio="0.8311111" data-w="450" data-type="jpeg" src="http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRv1oWYKLc6Z1Xjwic8vFQsa3kMNRBC8PCiavFQkXQzG8obnibX2Qey0oQg/640?wx_fmt=jpeg&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
														</section>
													</section>
												</section>
											</section>
										</section>
										<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
											<section class="" style="   box-sizing: border-box; ">
												<section class="" style="text-align: left; box-sizing: border-box;">
													<p style="clear: none; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-top: 10px; margin-bottom: 10px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; ">
												<section class="" style="display: inline-block; vertical-align: top; box-sizing: border-box;">
													<section style="width: 0px; margin-bottom: -10px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-top: 5px solid rgba(255, 184, 196, 0.66); border-left: 5px solid rgba(255, 184, 196, 0.66); border-right: 5px solid transparent !important; border-bottom: 5px solid transparent !important; box-sizing: border-box;"></section>
													<section class="" style="background-color: rgba(153, 255, 255, 0.4); padding: 3px 10px; line-height: 1.75; color: rgb(30, 155, 232); box-sizing: border-box;">
														<p style="clear: none; box-sizing: border-box;"><strong style="box-sizing: border-box;">复赛地点</strong></p>
													</section>
													<section style="width: 0px; margin-top: -10px; margin-left: auto; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-right: 5px solid rgba(255, 184, 196, 0.66); border-bottom: 5px solid rgba(255, 184, 196, 0.66); border-top: 5px solid transparent !important; border-left: 5px solid transparent !important; box-sizing: border-box;"></section>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-right: 0%; margin-bottom: 10px; margin-left: 0%;  box-sizing: border-box; ">
												<section class="" style="display: inline-block; width: 90%; border-width: 1px; border-style: solid; border-color: transparent; background-color: rgb(255, 255, 255); box-shadow: rgb(170, 170, 170) 0px 0px 10px; box-sizing: border-box;">
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style="   box-sizing: border-box; ">
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="100%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 80%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: justify; color: rgb(105, 105, 105); font-size: 2px; line-height: 1.8; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="clear: none; white-space: normal; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
																		</section>
																	</section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="100%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
														</section>
													</section>
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style=" margin-top: -20px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
															<section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 10px; box-sizing: border-box;">
																<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: left; color: rgb(105, 105, 105); font-size: 15px; line-height: 1.75; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="text-indent: 2em; clear: none; box-sizing: border-box;">选手所在参赛区域的华为代表处智真会议室，具体地址会提前2天以邮件和短信通知。</p>
																		</section>
																	</section>
																</section>
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" margin-top: 10px; margin-bottom: 10px;  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100%; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoROZOQCwWIhUh9iaCeL1hFS22j8PjEGhJcQEwznkkmqDEvHOk79gcnD3g/0?wx_fmt=jpeg" data-ratio="0.6921875" data-w="640" data-type="jpeg" src="http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoROZOQCwWIhUh9iaCeL1hFS22j8PjEGhJcQEwznkkmqDEvHOk79gcnD3g/640?wx_fmt=jpeg&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
														</section>
													</section>
												</section>
											</section>
										</section>
										<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
											<section class="" style="   box-sizing: border-box; ">
												<section class="" style="text-align: left; box-sizing: border-box;">
													<p style="clear: none; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-top: 10px; margin-bottom: 10px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; ">
												<section class="" style="display: inline-block; vertical-align: top; box-sizing: border-box;">
													<section style="width: 0px; margin-bottom: -10px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-top: 5px solid rgba(255, 184, 196, 0.66); border-left: 5px solid rgba(255, 184, 196, 0.66); border-right: 5px solid transparent !important; border-bottom: 5px solid transparent !important; box-sizing: border-box;"></section>
													<section class="" style="background-color: rgba(153, 255, 255, 0.4); padding: 3px 10px; line-height: 1.75; color: rgb(30, 155, 232); box-sizing: border-box;">
														<p style="clear: none; box-sizing: border-box;"><strong style="box-sizing: border-box;">复赛参赛步骤</strong></p>
													</section>
													<section style="width: 0px; margin-top: -10px; margin-left: auto; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); border-right: 5px solid rgba(255, 184, 196, 0.66); border-bottom: 5px solid rgba(255, 184, 196, 0.66); border-top: 5px solid transparent !important; border-left: 5px solid transparent !important; box-sizing: border-box;"></section>
												</section>
											</section>
										</section>
										<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
											<section class="" style=" margin-right: 0%; margin-bottom: 10px; margin-left: 0%;  box-sizing: border-box; ">
												<section class="" style="display: inline-block; width: 90%; border-width: 1px; border-style: solid; border-color: transparent; background-color: rgb(255, 255, 255); box-shadow: rgb(170, 170, 170) 0px 0px 10px; box-sizing: border-box;">
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style="   box-sizing: border-box; ">
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="100%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 80%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: justify; color: rgb(105, 105, 105); font-size: 2px; line-height: 1.8; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="clear: none; white-space: normal; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
																		</section>
																	</section>
																</section>
															</section>
															<section class="" style="display: inline-block; vertical-align: top; width: 6%; box-sizing: border-box;">
																<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
																	<section class="" style=" text-align: left; margin-top: -3px; margin-right: 0%; margin-left: 0%; transform: translate3d(0px, 0px, 0px);  box-sizing: border-box; "><img style="vertical-align: middle; box-sizing: border-box; width: 100% !important; height: auto !important; visibility: visible !important;" class="" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/0?wx_fmt=png" data-ratio="1" data-w="114" width="100%" data-type="png" _width="100%" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZPSKSiayhH9KY1f58LPEZPoRiaUwjhXvRuQaxiaZoqStN3abC0BgKqvW9Wo12pLXFJnWMhJ3ATbiaR2Qg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0"></section>
																</section>
															</section>
														</section>
													</section>
													<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
														<section class="" style=" margin-top: -20px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
															<section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 10px; box-sizing: border-box;">
																<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
																	<section class="" style=" margin-top: 5px; margin-right: 0%; margin-left: 0%;  box-sizing: border-box; ">
																		<section class="" style="text-align: left; color: rgb(105, 105, 105); font-size: 15px; line-height: 1.75; letter-spacing: 0px; padding-right: 10px; padding-left: 10px; box-sizing: border-box;">
																			<p style="clear: none; box-sizing: border-box;">1、获取复赛宣讲答辩PPT模板</p>
																			<p style="clear: none; box-sizing: border-box;">获取路径：华为合作伙伴大学（echannel.huawei.com/university）——服务学院——业务指南，下载《“ΣCO-Discovery”华为生态伙伴精英赛2017服务复赛宣讲模板》。模板共有三种：产品技术类、服务销售类、项目管理类。请根据所报赛项对应下载。</p>
																			<p style="clear: none; box-sizing: border-box;">&nbsp;</p>
																			<p style="clear: none; box-sizing: border-box;">2、准备宣讲答辩材料</p>
																			<p style="clear: none; box-sizing: border-box;">晋级复赛选手华为将安排一对一导师辅导，请与导师沟通输出宣讲材料并提前演练。复赛辅导导师名单请注意查收华为邮件和短信通知。</p>
																			<p style="clear: none; box-sizing: border-box;">&nbsp;</p>
																			<p style="clear: none; box-sizing: border-box;">3、现场参加宣讲及答辩</p>
																			<p style="clear: none; box-sizing: border-box;">提前半小时到达参赛场地，根据答辩时间依次进行，每人20分钟（宣讲10分钟+答辩10分钟）。</p>
																		</section>
																	</section>
																</section>
															</section>
														</section>
													</section>
												</section>
											</section>
										</section>
										<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
											<section class="" style="   box-sizing: border-box; ">
												<section class="" style="text-align: left; box-sizing: border-box;">
													<p style="clear: none; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
												</section>
											</section>
										</section>
										<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
											<section class="" style="   box-sizing: border-box; ">
												<section class="" style="text-align: left; box-sizing: border-box;">
													<p style="clear: none; box-sizing: border-box;"><br style="box-sizing: border-box;"></p>
												</section>
											</section>
										</section>
									</section>
								</section>
								<section style="width: 2.5em; height: 2.5em; float: right; margin-top: -2.5em; border-right: 2px dotted rgb(193, 193, 193); border-bottom: 2px dotted rgb(193, 193, 193); box-sizing: border-box;"></section>
							</section>
						</section>
					</section>
					<p style="text-indent: 2em; box-sizing: border-box;"><strong style="box-sizing: border-box;">复赛各环节，华为都将以邮件或短信的方式通知，请您注意关注！如果您有任何疑问，可发邮件至<span style="color: rgb(30, 155, 232); box-sizing: border-box;">fwrz@huawei.com</span>咨询。</strong></p>
					<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
						<section class="" style=" margin-top: 10px; margin-bottom: 10px;  box-sizing: border-box; ">
							<section class="" style="padding-top: 2px; padding-bottom: 2px; box-sizing: border-box;">
								<section style="height: 4px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); float: left; margin-top: -3px; background-color: #f6f6f6; box-sizing: border-box;">
									<section style="width: 4px; height: 4px; border-radius: 100%; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
									<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
									<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
									<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
									<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
								</section>
								<section style="border-top: 1px solid rgb(30, 155, 232); margin-top: -2px; border-right-color: rgb(30, 155, 232); border-bottom-color: rgb(30, 155, 232); border-left-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
								<section class="" style="width: 100%; padding: 10px; box-sizing: border-box;">
									<section class="" style="box-sizing: border-box;" powered-by="xiumi.us">
										<section class="" style="   box-sizing: border-box; ">
											<section class="" style="line-height: 1.75; box-sizing: border-box;">
												<p style="text-indent: 2em; clear: none; box-sizing: border-box;"><strong style="box-sizing: border-box;"><span style="color: rgb(30, 155, 232); box-sizing: border-box;">“ΣCO-Discovery”华为生态伙伴精英赛是华为中国合作伙伴大学打造的ICT生态圈精英“大聚会”，</span></strong>精英们通过接近实战的方式，以客户实际应用场景为命题，致力于为客户创造出最大化的商业价值，达成商业利益共享。一直以来，华为以“平台+生态”战略构建数字化转型共同体，努力将ICT人才生态凝聚成为ICT生态圈人才交流、协作、价值创造的纽带，倡导从独立创造价值到合作创造价值的新模式，促进生态圈繁荣发展。</p>
											</section>
										</section>
									</section>
								</section>
								<section style="width: 100%; text-align: right; box-sizing: border-box;">
									<section style="height: 4px; margin-top: -2px; float: right; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); background-color: #f6f6f6; box-sizing: border-box;">
										<section style="width: 4px; height: 4px; border-radius: 100%; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
										<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
										<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
										<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
										<section style="width: 4px; height: 4px; border-radius: 100%; margin-left: 0.5em; float: left; background-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
									</section>
									<section style="clear: both; box-sizing: border-box;"></section>
									<section style="border-top: 1px solid rgb(30, 155, 232); margin-top: -2px; margin-bottom: 2px; border-right-color: rgb(30, 155, 232); border-bottom-color: rgb(30, 155, 232); border-left-color: rgb(30, 155, 232); box-sizing: border-box;"></section>
								</section>
							</section>
						</section>
					</section>
					<section class="" style="   box-sizing: border-box; " powered-by="xiumi.us">
						<section class="" style=" margin-top: 10px; margin-bottom: 10px; padding-right: 3px; padding-left: 3px; text-align: center; overflow: hidden;  box-sizing: border-box; ">
							<section class="" style="height: 2.6em; box-sizing: border-box;">
								<section style=" transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); margin-top: -1em; box-sizing: border-box;">
									<section style="width: 2em; height: 2em; margin: auto; display: inline-block; box-sizing: border-box;">
										<section style="height: 100%; border-left: 0.2em solid rgb(30, 155, 232); border-bottom: 0.2em solid rgb(30, 155, 232); background-color: transparent !important; box-sizing: border-box;"></section>
									</section>
								</section>
							</section>
						</section>
					</section>
					<p style="text-indent: 2em; box-sizing: border-box;"><strong style="box-sizing: border-box;"><span style="color: rgb(30, 155, 232); box-sizing: border-box;">友情提示：</span></strong>华为生态伙伴精英赛2017伙伴赛商务赛项初赛晋级名单已经公布，进入华为企业业务中国合作伙伴官方微信了解详细吧！<br style="box-sizing: border-box;"></p>
					<section style="text-align: center;">
						<section style="padding-top: 30px; padding-right: 30px; display: inline-block; border-right: 1px solid rgb(198, 198, 199); vertical-align: top; text-align: left; box-sizing: border-box;width: 45%;">
							<p><span class="" data-brushtype="text" style="font-size: 18px;">华为企业业务</span></p>
							<p><span class="" data-brushtype="text" style="font-size: 18px;">中国合作伙伴</span></p>
							<p><br></p>
						</section>
						<section style="padding-left: 30px; display: inline-block; box-sizing: border-box;width: 45%;">
							<section style="margin-top: 20px; width: 16px; float: right;"><span class="" data-brushtype="text" style="font-size: 14px;">长按关注</span></section>
							<section style="display: inline-block; width: 100px;"><img data-src="http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZNI21AIutddQBuPuLDyqZQkcF5ia8cUaG4CjgAiaxF8NwJrMibPJD8zzkXtrO81Hxy14NAUUIMiaqXqvg/0?wx_fmt=jpeg" title="合作伙伴公众号二维码.jpg" class="" data-ratio="1" data-w="1280" data-type="jpeg" src="http://mmbiz.qpic.cn/mmbiz_jpg/bQRe6lq3PZNI21AIutddQBuPuLDyqZQkcF5ia8cUaG4CjgAiaxF8NwJrMibPJD8zzkXtrO81Hxy14NAUUIMiaqXqvg/640?wx_fmt=jpeg&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" style="width: 100%; height: auto !important; visibility: visible !important;margin-top: 10px;" data-fail="0"></section>
						</section>
					</section>
					<img data-s="300,640" data-type="png" data-src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZMJDjK193aBTZ0x5fOaR4bcFib1agK0LVXTpSw0sLCicXg7BvPhZ7wgcLc7eSMfdrd8Dcje05tuexibg/0?wx_fmt=png" class="" data-ratio="0.46796875" data-w="1280" src="http://mmbiz.qpic.cn/mmbiz_png/bQRe6lq3PZMJDjK193aBTZ0x5fOaR4bcFib1agK0LVXTpSw0sLCicXg7BvPhZ7wgcLc7eSMfdrd8Dcje05tuexibg/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" style="width: 100%; height: auto !important; visibility: visible !important;margin-top: 10px;" data-fail="0">
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: false, //是否显示滚动条
				deceleration: 0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true, //是否启用回弹 
			});
		</script>
	</body>

</html>