<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="home.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-back mui-pull-left" style="color: #B7B7B7;"></a>
		    <h1 class="mui-title">日报</h1>
	    </header>
	    <div class="mui-content" style="padding-top: 58px;">
	    	<!--工作计划-->
	    	<div class="row mui-input-row">
	    		<div class="WorkPlan">
	    			工作计划
	    		</div>
				<textarea id='WorkPlan' class="mui-input-clear question" placeholder="写下你的工作计划" disabled="disabled"></textarea>
			</div>
			<!--工作内容-->
	    	<div class="row mui-input-row">
	    		<div class="WorkPlan">
	    			工作内容
	    		</div>
				<textarea id='WorkContent' class="mui-input-clear question" placeholder="写下你的工作内容" disabled="disabled"></textarea>
			</div>
			<!--计划完成及遇到的问题-->
	    	<div class="row mui-input-row">
	    		<div class="WorkPlan">
	    			计划完成及遇到的问题
	    		</div>
				<textarea id='WorkProblem' class="mui-input-clear question" placeholder="写下你的工作内容" disabled="disabled"></textarea>
			</div>
			<!--项目总进度-->
	    	<div class="row mui-input-row">
	    		<div class="WorkPlan">
	    			项目总进度
	    		</div>
				<textarea id='AllPlan' class="mui-input-clear question" placeholder="项目进行程度" disabled="disabled"></textarea>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/Request.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				var self = plus.webview.currentWebview();
				console.log(self.name)
				var data = {id:self.name};
				ajax('/manage/phone/daily_index',data,function(data){
					console.log(JSON.stringify(data));
					document.getElementById('WorkPlan').innerHTML = data.plan;
					document.getElementById('WorkContent').innerHTML = data.content
					document.getElementById('WorkProblem').innerHTML = data.problem
					document.getElementById('AllPlan').innerHTML = data.rate + "%";
				})
			})
		</script>
	</body>

</html>