<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style>
	    	html,body{ width: 100%; background: #fafafa; overflow-x: hidden; padding: 0; margin:0;}
			#content{ height: auto;}
			p{ text-indent: 2em; font-size: 12px; padding: 0; line-height: 18px;}
			h3{ width: 80%; margin:0 auto 10px; text-align:center}
	        h4{ margin: 0 auto; }
	        ul,li{ margin: 0; padding: 0; list-style: none }
	        li{ margin-left: 2em; line-height: 20px;}
        </style>
	</head>

	<body>
		<div class="mui-navbar-inner mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav" style="color:#7b7b7b;"></a>
			<h1 class="mui-center mui-title">服务条款</h1>
		</div>
		<div class="mui-content mui-scroll-wrapper" id="content"> 
        	<div class="mui-scroll">
				<div id="content" style="margin-top: 10px;">
				    <h3>佳杰备件商城服务条款</h3>
		    		<h4>一、备件的发货及签收</h4>
		        <ul>
		          <li>1、订单生效后备件商城将按照约定时间将订单包含的备件发送到指定地点，除特殊情况外，备件一般采用顺丰快递的方式发送。</li>
		          <li>2、寄件时间为周六、周日及法定节假日，备件到达时间延长0.5-1天，春节、国庆期间安排另行约定。收件方地址属于偏远区域备件到达时间延长1~2天。</li>
		          <li>3、订单在16点前生效，我方承诺提供备件次日达服务。订单在16点后生效，则备件到达时间顺延0.5~1天。</li>
		          <li>4、客户在收到备件后应首先进行检查，如发生下列情况不要签收并请及时联系备件商城客服人员进行处理：</li>
		          <li>（1） 包装破损、包装被打开等情况；</li>
		          <li>（2）收到的备件型号、数量与订单或发货清单不符。</li>
		          <li>5、检查无误后将包装内的发货清单进行签收，拍照发邮件发送到指定邮箱。</li>
		        </ul>
		        <h4>二、备件的保修期</h4>
		        <ul>
		          <li>1、除特殊标明保修期外，所有备件产品的保修期均为一年。</li>
		          <li>2、保修期起始时间从备件发货时间开始计算。保修期内凭序列号进行报修。</li>
		          <li>3、商城所售备件在保修期内发生的故障，我方将按保修条款进行更换，客户应将故障件发还我方指定地点。如需配件不返还服务则应另行支付费用。</li>
		          <li>4、从商城发出备件到对应的故障配件返还至我方指定地点的总时长不应超过10个工作日。故障配件返还所需的快递费由我方承担。</li>
		          <li>（1） 包装破损、包装被打开等情况；</li>
		          <li>（2）收到的备件型号、数量与订单或发货清单不符。</li>
		          <li>5、检查无误后将包装内的发货清单进行签收，拍照发邮件发送到指定邮箱。</li>
		        </ul>
		        <h4>三、非保修范围</h4>
		        <ul>
		          <li>1、非本商城销售的产品。</li>
		          <li>2、产品识别信息（如条码、序列号、型号）被涂改的故障件。</li>
		          <li>3、人为故意或疏忽造成的损坏，包括非正常环境下使用，不按照备件自身或备件所在设备厂家说明书使用引起的损坏等。</li>
		          <li>4、因电压异常（如电压过高、异常断电）或病毒感染导致的损坏。</li>
		          <li>5、因私自进行拆解、维修、改装而造成的备件损坏。</li>
		          <li>6、属不可抗力（如：火灾、水灾、地震、雷击、战争等）造成的损坏。</li>
		          <li>7、其他非因备件自身原因造成的故障，包括但不限于与第三方软件或硬件不兼容引起的故障。</li>
		          <li>8、我方不对存储在其产品中或以其它形式与产品相关的客户数据提供保证，客户需要自己负责对相关数据进行备份以防止丢失。</li>
		          <li>9、非备件产品本身，包括但不限于按客户要求安装到备件上的部件、软件，第三方操作系统等。</li>
		          <li>10、附件、消耗品、结构件不提供保修服务，包括但不限于：线缆、文档、工具等。</li>
		          <li>11、设备表面物理损伤但不影响设备使用的。</li>
		          <li>12、未经授权，硬件或软件已被修改的设备。</li>
		        </ul>
		        <h4>四、技术支持服务</h4>
		        <ul>
		          <li>1、备件价格不包含任何现场技术支持服务。</li>
		          <li>2、电话支持热线：010-57303088。用户可以拨打技术支持热线获得基础的电话支持服务，如需要现场支持服务需要另行支付费用。 提供现场技术支持的城市：北京、上海、广州、沈阳、长春、哈尔滨、济南、太原、郑州、石家庄、西安、乌鲁木齐、合肥、武汉、长沙、成都、深圳。</li>
		          <li>3、在备件的保修期内，我方提供收货确认、备件更换、配件返还等技术支持服务。标准服务等级为5*9小时（每周一至五，每天早9点至18点）。</li>
		          <li>4、标准技术支持服务包括：</li>
		          <li>（1） 电话、邮件支持：<a href="tel:010-57303088">010-57303088</a>、sales@ecsits.com</li>
		          <li>（2）在线技术支持：通过QQ等在线沟通工具提供技术支持。QQ：3410743855</li>
		        </ul>
		        <h4>五、备件服务的免责声明</h4>
		        <ul>
		          <li>1、我方不提供本文不涉及的任何明确或隐含的商业和技术保证。</li>
		          <li>2、我方不保证备件是全新的但承诺备件功能完好可用。</li>
		          <li>3、由于备件生产厂商的设计、制造等原因，我方不承诺所提供备件完全无缺陷，不保证客户在使用该备件时不会遇到任何问题或中断，也不保证我方能完全修复这些缺陷。</li>
		          <li>4、对于非备件原因造成的服务中断或延误，如：通讯中断、电力瘫痪、交通管制、社会动乱、恶劣天气等，我方将尽力提供服务，但不保证能够完全达到本说明书承诺的服务水平。</li>
		          <li>如果客户接受我方提供的技术支持服务，则表示客户允许在提供服务时访问、采集和处理故障、检测、定位、调试相关的信息。我方将在客户同意的前提下，遵从客户的要求访问和处理相关信息，该信息将仅用于提供保修服务。由于客户是这些信息的控制者，我方无法确认此类信息是否包含客户机密信息或个人数据，客户应当保证其将根据所适用的法律要求，获得或保留所有必要的同意、许可、授权（“同意”）用于让我方提供此服务，使我方在提供相关服务时不会违反适用的法律要求、客户的隐私政策、或者客户与用户的协议。我方将采取合理的措施保障此类客户信息的安全，但我方不就提供服务过程中获取和处理此类信息的行为导致的直接或间接责任负责。</li>
		          <li>如客户将硬件设备返还给我方，表明客户已经对存储在硬件设备中的任何保密的、私有的或个人信息进行了备份且已经从硬件设备中彻底删除。客户应在交付此硬件设备给我方前独自负责删除上述信息，同时应进一步赔偿、为我方抗辩并使我方免于承担任何政府机构或第三方施加的，由于在转移、处置上述信息时未能遵从适用的法律法规，而导致的任何及所有索赔、责任、义务、成本、费用、处罚、罚款、没收以及裁决的不利后果。</li>
		        </ul>
		        <h4>六、责任与赔偿</h4>
		        <ul>
		          <li>我方不承担由于备件无法使用、配件故障、服务过程中的操作等导致的客户数据丢失、业务中断等情况以及引起任何直接或间接损失的责任。</li>
		          <li>在任何情况下，包括通过合同等形式进行明确约定的情况下，我方对前述情况下所付责任导致的客户损失的最大赔偿额不高于客户购买该备件所支付的金额。</li>
		        </ul>
		    	</div>
		    </div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			//仿IOS滑动效果
			mui('.mui-scroll-wrapper').scroll({
			    deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006 
			});
		</script>
	</body>

</html>